body {
    padding: 0;
    margin: 0;
}

#container {
    max-width: 1000px;
    margin: auto;
}

#picker-container {
    width: 20%;
    float: left;
}

#grid-container {
    width: 80%;
    float: left;
}

#picker {
    height: 600px;
    width: 80%;
    background-color: #999;
    margin: auto;
}

#color-box {
    height: 50px;
    width: 80%;
    border: 1px solid #000;
    margin: 20px 0;
}
